In [2]:
import streamlit as st
import pandas as pd

df = pd.read_csv('cleaned_star_data.csv')


df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3042,0.0005,0.1542,16.6,0.0,Red,M
2,2600,0.0003,0.102,18.7,0.0,Red,M
3,2800,0.0002,,16.65,0.0,Red,M
4,1939,0.000138,0.103,20.06,0.0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830,1356,-9.93,5.0,Blue,O
236,30839,834042,1194,-10.63,5.0,Blue,O
237,8829,537493,1423,-10.73,5.0,White,A
238,9235,404940,1112,-11.23,5.0,White,A
239,37882,294903,1783,-7.8,5.0,Blue,O

In [4]:
df.shape

(240, 7)

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(239, 7)

In [3]:
import streamlit as st
import pandas as pd
import os 

star_df = pd.read_csv('cleaned_star_data.csv')
star_df.dropna(inplace=True)


st.write(star_df.head())
st.write(star_df.columns)
st.write(star_df.style.highlight_max(axis=0))

st.line_chart(star_df['Temperature (K)'])

credt_df = pd.read_csv('credit_card_purchases.csv')
credt_df['LON'] = credt_df['long'].astype(float)
st.map(credt_df)


x = st.slider('Select a value')
st.write(x, 'squared is', x * x)

UsageError: Line magic function `%%` not found.

In [2]:
import streamlit as st
import pandas as pd
from gensim.models import Word2Vec
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.corpus import stopwords
import os
import re

# Function to train a Word2Vec model
def train_word2vec_model(corpus):
    model = Word2Vec(corpus, vector_size=100, window=5, min_count=1, workers=4)
    return model

# Function to train a Doc2Vec model
def train_doc2vec_model(corpus):
    tagged_data = [TaggedDocument(words=words, tags=[str(i)]) for i, words in enumerate(corpus)]
    model = Doc2Vec(tagged_data, vector_size=100, window=2, min_count=1, workers=4)
    return model

# Streamlit caching for loading corpus
@st.cache_resource
def load_corpus():
    file_directory = 'eng_news_2023_100K-sentences.txt'
    df = pd.read_csv(file_directory, sep='\t', header=None)
    return df

# Load the corpus
df = load_corpus()

# Display the first few rows of the dataframe
st.write(df.head())

def preprocess_text(text_series):
    stop_words = set(stopwords.words('english'))
    text_series = text_series.astype(str)
    
    # Convert to lowercase
    text_series = text_series.apply(lambda x: x.lower())
    print("Lowercase:", text_series.head())
    
    # Remove numbers
    text_series = text_series.apply(lambda x: re.sub(r'\d+', '', x))
    print("Removed numbers:", text_series.head())
    
    # Remove punctuation
    text_series = text_series.apply(lambda x: re.sub(r'[^\w\s]', '', x))
    print("Removed punctuation:", text_series.head())
    
    # Remove stopwords
    text_series = text_series.apply(lambda x: ' '.join(word for word in x.split() if word not in stop_words))
    print("Removed stopwords:", text_series.head())
    
    return text_series


# Preprocess the text in the dataframe
df[1] = preprocess_text(df[1])

# Display the preprocessed text
st.write(df.head())
print(df.head())
df.to_csv('preprocessed_text.csv', index=False)

Lowercase: 0    $156,834 for the pathway to excellence in prac...
1                             $2,000 is a large chunk.
2    “$3 million is a lot easier to come by than $2...
3    $4.1million of that reported revenue is from t...
4    $466,000 in marketing and advertising expense ...
Name: 1, dtype: object
Removed numbers: 0    $, for the pathway to excellence in practice p...
1                                 $, is a large chunk.
2    “$ million is a lot easier to come by than $- ...
3    $.million of that reported revenue is from the...
4    $, in marketing and advertising expense and $,...
Name: 1, dtype: object
Removed punctuation: 0     for the pathway to excellence in practice pro...
1                                     is a large chunk
2     million is a lot easier to come by than  million
3    million of that reported revenue is from the s...
4     in marketing and advertising expense and  in ...
Name: 1, dtype: object
Removed stopwords: 0    pathway excellence practice program neighborho...
1                                          large chunk
2                      million lot easier come million
3    million reported revenue soldout u shows exten...
4    marketing advertising expense technology data ...
Name: 1, dtype: object
   0                                                  1
0  1  pathway excellence practice program neighborho...
1  2                                        large chunk
2  3                    million lot easier come million
3  4  million reported revenue soldout u shows exten...
4  5  marketing advertising expense technology data ...