In [2]:
import streamlit as st
import pandas as pd

df = pd.read_csv('cleaned_star_data.csv')


df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3042,0.0005,0.1542,16.6,0.0,Red,M
2,2600,0.0003,0.102,18.7,0.0,Red,M
3,2800,0.0002,,16.65,0.0,Red,M
4,1939,0.000138,0.103,20.06,0.0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830,1356,-9.93,5.0,Blue,O
236,30839,834042,1194,-10.63,5.0,Blue,O
237,8829,537493,1423,-10.73,5.0,White,A
238,9235,404940,1112,-11.23,5.0,White,A
239,37882,294903,1783,-7.8,5.0,Blue,O

In [4]:
df.shape

(240, 7)

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(239, 7)

In [3]:
import streamlit as st
import pandas as pd
import os 

star_df = pd.read_csv('cleaned_star_data.csv')
star_df.dropna(inplace=True)


st.write(star_df.head())
st.write(star_df.columns)
st.write(star_df.style.highlight_max(axis=0))

st.line_chart(star_df['Temperature (K)'])

credt_df = pd.read_csv('credit_card_purchases.csv')
credt_df['LON'] = credt_df['long'].astype(float)
st.map(credt_df)


x = st.slider('Select a value')
st.write(x, 'squared is', x * x)

UsageError: Line magic function `%%` not found.